@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    padding: 15px;
    font-size: 40px;
    margin: 30px;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px; /* Rounded corners for the table */
    overflow: hidden; /* Ensures the rounded corners work */
}

table th,
table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
    font-weight: bold; /* Bold text for headers */
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e2e6ea; /* Highlight row on hover */
}

