
.content {
    text-align: center;
    background: rgba(192, 192, 192, 0.6);
    padding: 30px;
    border-radius: 10px;
    margin-top:15%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 18px;
    margin-bottom: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table, th, td {
    border: 2px solid #fff;
    
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 23px;
}

th {
    background-color: #555555;    
}

