.sales_predict {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sales_predict h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sales_chart h1 {
    margin-top: 10%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adding a shadow */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for hover effect */
 }

.sales_chart h1:hover {
    color: #f0f0f0; /* Slight color change on hover */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7); /* Enhancing the shadow on hover */
 }

.sales_gross h1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adding a shadow */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for hover effect */
}
.sales_gross h1:hover{
    color: #f0f0f0; /* Slight color change on hover */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7); /* Enhancing the shadow on hover */

}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="number"],
form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button[type="submit"] {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button[type="submit"]:hover {
    background-color: #575757;
}


._predict h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}